<?php
# ── DATABASE ──────────────────────────────────────────────
# Values injected at runtime from vars/main.yml — never hardcoded
define( 'DB_NAME',     '{{ db_name }}' );
define( 'DB_USER',     '{{ db_user }}' );
define( 'DB_PASSWORD', '{{ db_password }}' );
define( 'DB_HOST',     '{{ db_host }}' );
define( 'DB_CHARSET',  'utf8' );
define( 'DB_COLLATE',  '' );

# ── SECURITY KEYS ─────────────────────────────────────────
# Generate unique values at: https://api.wordpress.org/secret-key/1.1/salt/
define('AUTH_KEY',         'mkw= )EcQ|F&w{ E#!sImA|t2z20ya/Pn- 7p.MN(.XC|!znPxUH/,jsv]V?Z6|7');
define('SECURE_AUTH_KEY',  'QyvL6nlc659-%v-{f.#Y>#|-ILhU7B^FK]+MRM+Z&-ROS(?JZxCL)qL|d#z]`?{1');
define('LOGGED_IN_KEY',    'MD[D(ss{,eI mRoH#T4fI0?1AtqyuH3-YjA-0/G_u|y[8|y,+LO<{=e.~<B0cZJ$');
define('NONCE_KEY',        '+aPr>]$!-B3=KZ))Dpe)4Qh+XhV.3.RZ=i[+aGjK+fYT.d,9&70,EbO7Lgo#Ln%<');
define('AUTH_SALT',        '{LhoWTQ}48DyXbZ>K:B[+ga/& <q]W`|Bjtj%0i0-!:Q6;^89oM?-HY.Z4kK{_l|');
define('SECURE_AUTH_SALT', '}wJM&xWT,7+J^j2w]^}4q!M8mwGD)5OKf+QN%:HPsEA$sm4=|-VF>Y}H2ah~WB+y');
define('LOGGED_IN_SALT',   '=UXV%(jYCm(Lt+y>:(8<C+})[x7UKw#v6C|nc(V+(-(*{;LGLX1|[?8[-?Q_5|aI');
define('NONCE_SALT',       ':n|gKDj7Aq4G$b:x>)>uhNuz+ zc){DacmEpw><}{y-1q2+)styJnSc6drTM?gM;');

$table_prefix = 'wp_';

define( 'WP_DEBUG', false );

if ( ! defined( 'ABSPATH' ) ) {
    define( 'ABSPATH', __DIR__ . '/' );
}

require_once ABSPATH . 'wp-settings.php';