[default]
roles_path = ./ansible/roles
inventory = ./ansible/inventory/
host_key_checking = false
remote_user = ubuntu
private_key_file = ~/.ssh/myDevKey.pem

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o ForwardAgent=yes